services:
  deal-or-no-deal:
    build: .
    command: npm run start
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1